.container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.header_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

.header_img {
  width: 4.5rem;
  height: 4rem;
}
